.box{
	height: 42px !important;
	border: 1px solid #00000033 !important;
	border-radius: 5px !important;
	box-sizing: border-box !important;
	padding-left: 12px !important;
	padding-right: 12px !important;
}

.box:hover, .box:focus{
	border: 1px solid #0097a7  !important;
}

.box:focus {
	border-right-width: 2px !important;
}

.row .col.s1{
  width: 1% !important;
}
